*{
     color: crimson;
}

.tac {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.tacnw {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap:nowrap;
}

.tar {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}
.tae {
    display:flex;
    align-items: flex-end;
    /* justify-content: center; */
    flex-wrap: wrap;
    color: blanchedalmond;
}
.wfll{
    width: 100%;
}

/* SEZ 1 */
.main-container{
    overflow-y: scroll;
}

/* TO DO NAV START */
.small-top-bar{ 
    height: 36px;
    background-color: black;
    padding-right: 10px;
   
}
.small-top-bar img{
    height: 40%;    
}

.bg-white{
   
    color: black;
}
.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-nav .nav-link.active{
    color: black;
}

.navbar-nav .me-auto .mb-2 .mb-sm-0{
    justify-content: flex-end;
}

.sticky-nav{
    top: 0;
    width: 64px;
    position: sticky;
    z-index: 1001;
}

/* TO DO NAV END */

/* JUMBO */

.jumbo{
    background-image: url(../img/jumbo-bg.png);
    width: 100%;
    height: calc( 100vh - 100px);
    background-size:cover;
    background-repeat: no-repeat;
    color: crimson;
    

}
/* THUMBS */
.tumb{
   
    border-radius:20px;
    margin-bottom: 24px;
}
.g-thumb-img img{
    width: 100%; 
    height: auto;
    border-radius:20px;
    /* border: 1px solid blue; */
    margin: 2px
}
/* PSX */
.psx-core-img img{
    
    width: 100%; 
    height: auto;
}

.psx-core-text{
  
    background-color: lawngreen;
}
/* PSX TUMBS */
.psx-thumb-img {
    width: 80%; 
    height: auto;
}
.psx-thumb-img img{
    
    width: 80%;
    height: auto;
   
}
.psx-tumbs-text{
    text-align: center;
}