*{
     color: crimson;
}

.tac {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.tacnw {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap:nowrap;
}

.tar {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}
.tae {
    display:flex;
    align-items: flex-end;
    /* justify-content: center; */
    flex-wrap: wrap;
    color: blanchedalmond;
}

/* SEZ 1 */
.main-container{
    overflow-y: scroll;
}

/* TO DO NAV START */
.small-top-bar{ 
    height: 36px;
    background-color: black;
    padding-right: 10px;
   
}
.small-top-bar img{
    height: 40%;    
}

.bg-white{
   
    color: black;
}
.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-nav .nav-link.active{
    color: black;
}

.navbar-nav .me-auto .mb-2 .mb-sm-0{
    justify-content: flex-end;
}

.sticky-nav{
    top: 0;
    position: sticky;
    z-index: 1001;
}

/* TO DO NAV END */

/* JUMBO */

.jumbo{
    background-image: url(../img/jumbo-bg.png);
    width: 100%;
    height: 700px;
    background-size: contain;
    background-repeat: no-repeat;
    color: crimson;
    

}

.j-core,.row,.container{
    height: 100%;
}